.index {
  position: relative;
  background: #e7404d;
  background: linear-gradient(to bottom, #e7404d 70%, #cc3944);
}
.wishes-bg {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 1;
}
.avatar {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding-top: 150px;
}
.content {
  position: relative;
  padding: 0 120px;
  z-index: 2;
}
.toUser {
  position: relative;
  margin-top: 60px;
  width:100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;

}
.bestWishes{
  position: relative;
  width:100%;
  margin-top: 30px;
  text-align: justify;
  height: 180px;
  overflow:hidden;
  line-height: 45px;
}
.fromUser{
  position: relative;
  margin-top: 28px;
  text-align: right;
  width:100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}
.date{
  position: relative;
  font-size: 28px;
  text-align: right;
}
