@import "../../../public/css/mixin";
.index {
  padding: 20px;
}
.title {
  border-left: 10px solid #000000;
  font-weight: bold;
  color: #292421;
  font-size: 30px;
}
.edit-item {
  background: #EFEFF4;
  border-radius: 10px;
  padding: 25px;
}
