/*对齐方式*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

/*padding*/
.pd10 {padding: 10px}
.pd20 {padding: 20px}
.pl10 {padding-left: 10px}
.pl20 {padding-left: 20px}
.pt10 {padding-top: 10px}
.pt20 {padding-top: 20px}
.pt40 {padding-top: 40px}


/*margin*/
.mt10 {margin-top: 10px}
.mt20 {margin-top: 20px}
.mt30 {margin-top: 30px}
.mt40 {margin-top: 40px}

/*宽高*/
.wd100 {width: 100%;}
.ht100 {height: 100%}

